<div id="group_{{.Name}}" class="{{ if .Width }}{{range .Width}}{{.}} {{end}}{{end}}">
{{ if .Label }}<label class="control-label {{ if .LabelClass }}{{range .LabelClass}} {{.}}{{end}}{{end}}"{{if .ID}} for="{{.ID}}"{{end}}>{{.Label}}</label>{{end}}
<button type="button" name="{{.Name}}"{{if .ID}} id="{{.ID}}"{{end}} class="btn{{ if .Classes }}{{range .Classes}} {{.}}{{end}}{{end}}">{{.Value}}</button>
{{ if .HelpText }}<small id="{{.Name}}Help" class="form-text text-muted">{{.HelpText}}</small>{{end}}
</div>