<div id="group_{{.Name}}" class="{{ if .Width }}{{range .Width}}{{.}} {{end}}{{end}}">
{{ if .Label }}<label class="control-label{{ if .LabelClass }}{{range .LabelClass}} {{.}}{{end}}{{end}}"{{if .ID}} for="{{.ID}}"{{end}}>{{.Label}}</label>{{end}}
<input type="password" name="{{.Name}}"{{if .ID}} id="{{.ID}}"{{end}} class="form-control{{ if .Classes }}{{range .Classes}} {{.}}{{end}}{{end}}"{{if .CSS}} style="{{range $k, $v := .CSS}}{{$k}}:{{$v}};{{end}}"{{end}}{{if .PlaceHolder}} placeholder="{{.PlaceHolder}}"{{end}}>
{{ if .HelpText }}<small id="{{.Name}}Help" class="form-text text-muted">{{.HelpText}}</small>{{end}}
</div>